.git/
Debug/
Release/
Release/mz700win.tlog/
Release/*.obj
Release/*.exe.receipe
Release/*.log
Release/*.pdb
Release/*.txt
ROMS/*
.vs/
src_backup/
CMOS.RAM
debug.log
key.def
mz700fon.dat
mz700fon.jp
./mz700win.exe
MZ700WIN.INI
Rlease/
