.git/
Debug/
Release/mz700win.tlog/
Release/*.obj
Release/*.exe.receipe
Release/*.log
Release/*.pdb
Release/*.res
Release/*.recipe
Release/*.FileListAbsolute.txt
Release/ROMS/*.ROM
/ROMS/
.vs/
src_backup/
CMOS.RAM
debug.log
mz700fon.dat
mz700fon.jp
/mz700win.exe
MZ700WIN.INI
Rlease/
/key.def
