.git/
Debug/
Release/mz700win.tlog/
Release/*.obj
Release/*.exe.receipe
Release/*.log
Release/*.pdb
Release/*.res
Release/*.recipe
Release/*.FileListAbsolute.txt
Release/ROMS/*.ROM
*.user
.vs/
src_backup/
debug.log
/ROMS/
/mz700win.exe
/key.def
CMOS.RAM
mz700fon.dat
mz700fon.jp
MZ700WIN.INI
